@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

:root {
  --preto: #260d0d;
  --azul: #319190;
  --amarelo: #ffc803;
  --branco: #f7f7f7;
  --vermelho: #ff4000;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  text-align: center;
  font-size: 75px;
  letter-spacing: 5px;
    color: var(--vermelho);
    text-decoration: blink;
}	

text {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
}

#inter-text {
    float: right;
    position: absolute;
    right: 20;
    font-size: 100px;
    font-weight: 800;
    margin-top: 10px;
    margin-right: 50px;
    color: var(--vermelho);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Inter', sans-serif;
}

iframe {
    position: absolute;
    top: 300;
    left: 750;
    bottom: 300;
    align-content: center;
}

svg {
    margin-left: 20;
}

#meme svg {
  margin-top: 300px;
}

.fundotopo {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;  
  background-color: var(--branco);
  margin-bottom: 50px;
  z-index: -1;
}

#fundodir {
  position: absolute;
  top: 100px;
  background-color: var(--amarelo);
  width: 50%;
  height: 900;
  left: auto;
  right: 0;
  z-index: -1;
}

#fundoesq {
  position: absolute;
  top: 100px;
  background-color: var(--preto);
  width: 50%;
  height: 900;
  left: 0;
  right: auto;
  z-index: -1;
}


.fundobaixo {
  position: absolute;
  left: 0;
  top: 770;
  width: 100%;
  height: 200px;
  background-color: var(--branco);
  z-index: -1;
}

h2 {
  color: var(--vermelho);
  font-family: 'Inter', sans-serif;
  font-size: 45px;
  text-align: left;
  margin-top: 10px;
  margin-left: 10px;
}

h4 {
  color: var(--vermelho);
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  text-align: left;
  margin-top: 10px;
  margin-left: 10px;
}

p {
  color: var(--branco);
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  text-align: left;
  margin-top: 10px;
  margin-left: 10px;
  text-align: center;
  text-align: justify;
  text-indent: 40px;
  margin-right: 10px;
}

.fundobaixo2 {
  position: absolute;
  left: 0;
  top: 970;
  width: 100%;
  height: 280px;
  background-color: var(--vermelho);
  z-index: -1;
}

#codigo {
  margin-bottom: 500px;
}

#codigo p {
  color: var(--preto);
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  text-align: left;
  margin-top: 10px;
  margin-left: 10px;
  text-align: center;
  text-align: justify;
  text-indent: 40px;
  margin-right: 10px;
}

#codigo img {
  text-align: left;
  margin-top: 10px;
  margin-left: 10px;
  text-align: center;
  text-align: justify;
  text-indent: 40px;
  margin-right: 10px;
  height: 250px;
  width: 700px;
}


html, body {
  overflow-x: hidden; /* trancar somente a barra de rolagem horizontal */
  overflow-y: auto; /* permitir a rolagem vertical */
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  margin-bottom: 10px;
}